.body {
	margin: 0;
}

.link {
	color: chocolate;
	transition: color .5s;
}

.link:hover {
	color: gray;
}

.header	{
	padding: 20px;
	border-bottom: 1px solid gray;
	text-align: center;
}

.header-link {
	margin: 10px;
}

.main {
	margin: 0 auto; 
	width: 1000px;
}

.wrapper {
	padding: 20px;
	background-color: silver;
	text-align: center;
}

.img {
	border: 5px solid gray;
}

.title {
	color: gray;
	text-align: center;
}

.subtitle {
	color: gray;
	border-left: 5px solid chocolate;
	padding-left: 10px;
	margin-top: 30px;
}

.footer {
	border-top: 1px solid gray;
	padding: 20px;
	text-align: center;
}